<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weijiahome.mapper.ArticleLikesMapper">
    <select id="userLikeArticles" resultMap="ArticleLikeResultMap">
        select
            a.id,
            a.title,
            a.summary,
            a.view_count,
            a.like_count,
            a.create_time,
            c.id,
            c.name
        from blog.article_like al
        left join blog.articles a on a.id =al.article_id
        left join blog.article_categories ac on ac.article_id = a.id
        left join blog.categories c on c.id =ac.category_id
        where al.user_id =#{userId}
    </select>
    <!-- 结果集映射：关联文章和分类 -->
    <resultMap id="ArticleLikeResultMap" type="com.example.weijiahome.entity.vo.ArticleLikeListVO">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="createdAt" column="create_time"/>
        <!-- 嵌套分类对象 -->
        <association property="category" javaType="com.example.weijiahome.entity.vo.CategoryVO">
            <result property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
</mapper>
